@page
@model ProjectTimer.Pages.Projects.IndexModel
@{
}
<div class="ContentSection">
<h4>Aktiva projekt</h4>
@if (Model.projectList != null)
{
<form method="post" asp-page-handler="DeleteProject">
    @foreach(var item in @Model.projectList)
    {
        <li class="nav-item">
            <h6>@item.Name</h6>
            <input type="submit" src="~/images/trashcan.svg" name="projectChoice" value="@item.Id">
        </li>
        <br/>
    } 
  </form>
}   

<br />
<hr />
<br />


<h4>Lägg till projekt</h4>  
<form method="post">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label"></label>
        <input type="text" class="form-control" value="" asp-for="Name" >
    </div>
    <div class="mb-3">
            <button type="submit" class="btn btn-outline-success">Lägg till projekt</button>
    </div>
</form>
</div>