@page
@model ProjectTimer.Pages.Projects.SaveProjectTimeModel
@{
}


<form method="post" asp-page-handler="UpdateDescription">
    <div class="mb-3">
        <h5>Spara tid</h5>
        <div class="row g-3 mb-3 align-items-center" id="project-saved-form">
          <div class="col-auto">
                <input type="text" name="pName" class="form-control" aria-labelledby="projectDescription" placeholder="Projektnamn">
          </div>
          <div class="col-auto">
                <span id="projectDescription" class="form-text">
                    Tänk på att projektets namn behöver överensstämma bokstavsgrannt. Stor eller liten bokstav spelar ingen roll.
            </span>
          </div>
        </div>

        <div class="row g-3 mb-3 align-items-center">
          <div class="col-auto">
                <input type="text" name="time" class="form-control" aria-labelledby="timeDescription" placeholder="Tid att spara">
          </div>
          <div class="col-auto">
                <span id="timeDescription" class="form-text">
                    Dagens datum sparas automatiskt. Spara tiden i minuter.
                </span>
          </div>
        </div>

        <div class="row g-3 mb-3 align-items-center">
          <div class="col-auto">
                <textarea class="form-control" id="projectDescriptionTextarea" name="note" rows="3" aria-labelledby="noteDescription" placeholder="Notering"></textarea>
          </div>
          <div class="col-auto">
                <span id="noteDescription" class="form-text">
                    Ytterligare info (valfritt)
                </span>
          </div>
        </div>

          
       @* <input type="hidden" name="clockId" value="@Model.Clock.Id">*@
    </div>
    <button type="submit" class="btn btn-outline-secondary">Skapa tidspost</button>
</form>


