@page
@using ProjectTimer.ViewComponents;
@model ProjectTimer.Pages.Sessions.IndexModel
@{
}
@if (Model.Clock == null)
{
<h5 style="text-align: center;">Tryck på ett projekt för att starta timer</h5>
<br />
 <form method="post" asp-page-handler="StartClock">
    <h6 style="text-align: center;">Lägg till arbetsbeskrivning</h6>
    <div class="mb-3">
        <textarea class="form-control" name="taskDescription" rows="3"></textarea>
    </div>

    <ul class="nav justify-content-center">
        @foreach (var project in Model.ProjectList)
        {
        <li class="nav-item">
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-success" name="pID" value="@project.Id">
                        @project.Name
                    </button>
                </div>
        
        </li> 
        }
    </ul>
</form>
}

@if (Model.Clock != null)
{
    <h1>HEJ!</h1>
}















    

