body {
}

/*Project related*/
#left-gutter {
    display: grid;
    justify-content: center;
}

#right-gutter {
    justify-content: left;
}

.svgs {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.list-group-item {
    margin: 0;
    padding: 0;
}

.project-icon,
.project-text {
    align-items: center;
    display: inline-block;
    margin-top: 0; margin-bottom: 0;
}


.nav-item {
    list-style-type: none;
    align-content: center;
    justify-content: center;
}

#ul-show-project > * {
    
    justify-content: center;
    flex-direction: column;
}

#project-saved-form > div > input {
    margin: 15em;
}