body {
}
#session-left-gutter {
    display: grid;
    justify-content: left;
}

#session-right-gutter {
    display: grid;
    justify-content: left;
}

#ul-start-session {
    justify-content: left;
    flex-direction: row;
}

.summary-text-box {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
    font-size: 0.8em;
}

.body-text-summary{
    color: #ff6a00;
    display: inline-block;
}

.sum-each-project-text {
    display: flex;
    justify-content: left;
}

#finished-clock-column-hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.session-project-list-container {
    display: flex;
    justify-content: center;
    
}
    .session-project-list-container > a {
        margin-right: 1em;
    }

.modify-form {
    margin-bottom: 2em;
}